@model WebApplication2.Models.Schedum

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Schedum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" type="date" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFine" class="control-label"></label>
                <input asp-for="DataFine" class="form-control" type="date" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FkCliente" class="control-label">Cliente</label>
                <select asp-for="FkCliente" class="form-control">
                    @foreach (var cliente in ViewData["clienti"] as List<WebApplication2.Models.Cliente>)
                    {
                        <option value="@cliente.Id">@cliente.Nome @cliente.Cognome</option>
                    }
                </select>
                <span asp-validation-for="FkCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
